<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <script>
        $(function () {
            let data4Vue = {
                uri:'excercises',
                units:[],
                questions:[],
                unit:'',
                wrongQuestion:[]
            }
            let vue = new Vue({
                el:"#workingArea",
                data:data4Vue,
                mounted:function () {
                    this.list()
                },
                methods:{
                    list:function () {
                        let url = 'units' // 这个是分页返回的..需要重新写方法
                        axios.get(url).then(function (response) {
                            vue.units = response.data.content
                        })
                    },
                    getquestions:function(question,index){
                        let qid = question.id
                        let url = "questions/" + qid + "/propertyValues"
                        let beans = {}
                        axios.get(url).then(function (response) {
                            beans = response.data
                            // console.log(beans)
                            for (let i = 0; i < beans.length; i++) {

                                let input = "<input type='radio' name='answers" + index +"' value='" + beans[i].property.name + "'> <label>" + beans[i].property.name + "</label>"
                                let span = "<span> | " + beans[i].value + " </span>"
                                $("#answerItems" + index).append(input).append(span).append("<br/>")

                            }
                        })
                    },
                    chooseUnit:function (unit) {
                        vue.unit = unit
                        $("div[id^='answerItems']").empty()
                        $("div[id^='answersDiv']").empty()

                        if(!$("#unitID" + unit.id).hasClass("disabled")){
                            let uid = unit.id
                            let url = this.uri + "/" + uid + "/" + "questionsinfo"
                            axios.get(url).then(function (response) {
                                vue.questions = response.data
                                for(let q in vue.questions){
                                    vue.getquestions(vue.questions[q],q)
                                }
                            })

                        }

                        $("div[id^='unitID']").removeClass("disabled")
                        $("#unitID" + unit.id).addClass("disabled")

                        $('#answerBtn').css('display','block')
                    },
                    // submitAnswer:function (question,index) {
                    //     let qid = question.id
                    //     let div = '<div style="background-color: #dca7a7;color: #a94442;height: 30px;width: 100px;text-align: center;line-height: 30px;">回答错误</div>'
                    //     let p1 = '<p>' + question.answer + '</p>'
                    //     let p2 = '<p>' + question.explanation + '</p>'
                    //     $("#answerBtn" + index).css("display","none")
                    //     //    判断选了哪个选项
                    //     if($("input[name='answers"+ index + "']:checked").val() === question.answer){
                    //         div = '<div style="background-color: #d0e9c6;color: #3e8f3e;height: 30px;width: 100px;text-align: center;line-height: 30px;">回答正确</div>'
                    //     }
                    //     else {
                    //         // 先check有没有登录
                    //         let url = "forecheckLogin"
                    //         axios.get(url).then(function (response) {
                    //             if (0 === response.data.code) {
                    //                 // 加入错题本
                    //                 let url_ = "mistakens?qid=" + qid
                    //                 axios.post(url_).then(function (response) {
                    //                     console.log(response.data)
                    //                 })
                    //             } else {
                    //                 $("#loginModal").modal('show')
                    //             }
                    //         })
                    //     }
                    //     $("#answersDiv" + index).append(p1).append(p2).append(div).show()
                    // },
                    addMistaken: function () {
                        // 加入错题本
                        let url_ = "mistakens/list"
                        // let stringW = JSON.stringify(vue.wrongQuestion)
                        // console.log(stringW)
                        axios.post(url_,vue.wrongQuestion).then(function (response) {
                            console.log(response.data)
                        })
                    },
                    submitAllAnswer : function () {
                        let correctNum = 0
                        for(let index in vue.questions){
                            //    判断答案
                            let question = vue.questions[index]
                            let qid = question.id
                            let div = '<div style="background-color: #dca7a7;color: #a94442;height: 30px;width: 100px;text-align: center;line-height: 30px;">回答错误</div>'
                            let p1 = '<p>' + question.answer + '</p>'
                            let p2 = '<p>' + question.explanation + '</p>'
                            $("#answerBtn" + index).css("display","none")
                            //    判断选了哪个选项
                            if($("input[name='answers"+ index + "']:checked").val() === question.answer){
                                div = '<div style="background-color: #d0e9c6;color: #3e8f3e;height: 30px;width: 100px;text-align: center;line-height: 30px;">回答正确</div>'
                                correctNum += 1
                            }
                            else {
                                // 加入错题本
                                vue.wrongQuestion.push(question.id)
                            }
                            $("#answersDiv" + index).append(p1).append(p2).append(div).show()
                        }
                        // 提交刷题结果到后端
                        // 先判断登录情况
                        let url = "forecheckLogin"
                        axios.get(url).then(function (response) {
                            if (0 === response.data.code) {
                                let url = 'exercises/result'
                                let rankinglist = { 'score':correctNum*2 , 'unit' : vue.unit }
                                axios.post(url,rankinglist).then(response => {
                                    if(confirm("是否将错题加入错题本？")){
                                        vue.addMistaken()
                                    }
                                })
                            } else {
                                $("#loginModal").modal('show')
                            }
                        })

                    }
                }
            })
        })
    </script>

    <div class="unit-choices">
        <h3>请选择单元</h3>

        <ul class="units-list">
            <li><a href="rankinglist" target="_blank">👑 查看排行榜</a></li>
            <li v-for="u in units" @click="chooseUnit(u)" :id="'unitID'+u.id">{{u.name}}</li>
        </ul>
    </div>

    <div class="exercisePage">
        <div class="exerciseDiv">
            <div th:replace="include/fore_/excerciseArea::html"></div>
        </div>
    </div>



</div>