<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="collectQuestions">
        <div class="questionBlock" v-for="q in questions">
            <!--        搞个分页 + 点击进入题目详情 -->
            <p class="DetailQuestion">
                {{q.detailquestion}}
            </p>
            <span class="CategoryAndUnit">
                {{q.unit.name}} | {{q.category.name}}
            </span>
            <button @click="showQuestionItem(q)">
                查看详情
            </button>
            <button @click="deleteQuestionItem(q)">
                移出收藏夹
            </button>
            <div class="questionItemTR firsttime" :id="'collectionItemsTR'+q.id" style=" display:none ">
                <p :id="'collectionItemsTRchoice'+q.id"></p>
                <p>{{q.answer}}</p>
                <p>{{q.explanation}}</p>
            </div>
        </div>
        <div v-if="0 == questions.length" class="noMatch">收藏夹空空如也哟！</div>
<!--        <div th:replace="include/fore_/forePage::html" ></div>-->
        <div style="clear:both"></div>
    </div>
</div>
