<div th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">

    <script>
        $(function () {
            let keyword = getUrlParms("keyword")
            let data4Vue = {
                uri:"foresearch",
                questions:[],
                file:null,
                pagination:{},
                user: {email: '',password: ''},
                searchFile: ''
            }

            // VueModel
            let vue = new Vue({
                el:"#workingArea",
                data:data4Vue,
                mounted:function(){

                },
                methods:{
                    textSearch:function(){


                        $("div[id^='questionItemsTR']").addClass('firsttime').hide()
                        $("div[id^='questionItemsChoices']").empty().show()

                        keyword = $(" input[ name='keyword' ] ").val()
                        let url =  this.uri+"?keyword=" + keyword
                        axios.post(url).then(function(response) {
                            vue.questions = response.data
                            if(0 === vue.questions.length){
                                window.open("https://www.baidu.com/s?wd=" + keyword)
                            }
                            else{
                                console.log(vue.questions)
                            }
                        })
                    },
                    photoSearch:function(event){
                        //    上传图片文件
                        //    formdata格式
                        this.searchFile = event.target.files[0]

                        let url = "search/picture"

                        let formData = new FormData()
                        formData.append("image", this.searchFile)

                        axios.post(url,formData).then(function(response){
                            let keyword_ = response.data
                            let url_ =  "foresearch?keyword=" + keyword_
                            axios.post(url_).then(function(response) {
                                // vue.pagination = response.data
                                vue.questions = response.data
                                if(0 === vue.questions.length){
                                    window.open("https://www.baidu.com/s?wd=" + keyword_)
                                }
                                else{
                                    console.log(vue.questions)

                                    $("div[id^='questionItemsChoices']").empty()
                                    $("div[id^='questionItemsTR']").addClass('firsttime').hide()

                                    // for(let i = 0; i < vue.questions.length ; i++ ){
                                    //     console.log(vue.questions[i].id)
                                    //     var temp_id = vue.questions[i].id
                                    //     $("#questionItemsTR" + temp_id).addClass('firsttime')
                                    //     $("#questionItemsChoices" + temp_id).empty()
                                    //     $("#questionItemsTR" + temp_id).hide()
                                    // }
                                }
                            })
                        })
                    },
                    jump: function(page){
                        jump(page,vue)
                    },
                    jumpByNumber: function(start){
                        jumpByNumber(start,vue)
                    },
                    showQuestionItem:function (question,index) {
                        let qid = question.id
                        let showQuestionItem = $("#questionItemsTR" + index)
                        if(showQuestionItem.hasClass('firsttime')){
                            let url = "questions/"+ qid +"/propertyValues"
                            let beans = {}
                            axios.get(url).then(function(response) {
                                beans = response.data
                                console.log(beans)
                                for (let i = 0; i < beans.length ; i++){
                                    let p = "<p>" + beans[i].property.name + " | " + beans[i].value + "</p>"
                                    $("#questionItemsChoices" + index).append(p)
                                    console.log(index)
                                }
                                // 查看详情，搜索量+1
                                let url_ = "questions/searched/"+ qid
                                axios.post(url_).then(function(response){
                                    console.log(response.data)
                                })
                            })
                        }
                        showQuestionItem.removeClass('firsttime').toggle()
                    },
                    addCollection:function (question) {
                        let url = "forecheckLogin"
                        axios.get(url).then(function(response) {
                            if(0 === response.data.code){
                                let qid = question.id
                                let url_ =  "collections?qid=" + qid
                                axios.post(url_).then(function(response) {
                                    let result = response.data
                                    if(0 === result.code){
                                        alert("添加成功")
                                    }
                                    else {
                                        alert("添加失败，请稍后重试")
                                    }
                                })
                            }
                            else{
                                $("#loginModal").modal('show')
                            }
                        })
                    },
                    evaluateQuestion:function (question,index) {
                        $('#evaluateDIV'+index).toggle()
                        submitEvaluation(question,index)
                    },
                    submitEvaluation:function (question,index) {
                        let score = $("input[name='rate']:checked").val()
                        console.log("score:" + score)
                        let url = "questions/evaluate/" + question.id
                        let formdata = new FormData()
                        formdata.set("score",score)
                        axios.post(url,formdata).then(response => {
                            console.log(response.data)
                            let finalScore = response.data.data
                            $("#submitEvaluation"+index).css("display","none")
                            $("#rateDIV"+index).css("display","none")
                            let p = `<p>提交成功！评分：${score} 分</p>`
                            $("#resultscore"+index).append(p)
                        //    把综合评分改掉！
                            vue.questions[index].score = finalScore


                        })
                    }
                }
            })
        })
    </script>

    <div th:replace="include/fore_/modal4login::html"></div>

    <div class="searchArea">
        <img th:src="@{/img/logo.png}" alt="" src="../../../static/img/logo.png">
            <input type="text" class="searchInput" name="keyword">
            <ul class="btn-list">
                <li>
                    <button class="search-btn" @click="textSearch">搜索🔍</button>
                </li>
                <li>

                    <button class="search-photo" >
                        📷
                        <input id="searchPic" type="file" @change="photoSearch($event)" name="image"/>
                    </button>
                </li>
            </ul>


<!--        放入上传的图片-->
<!--        <div></div>-->
        <div id="searchResult">
            <div class="searchResultDiv">
                <div th:replace="include/fore_/questionsBySearch::html"></div>
            </div>
        </div>
    </div>

</div>