<div class="topper" th:fragment="html" xmlns:th="http://www.w3.org/1999/xhtml">
    <span class="top-welcome" href="home">喵，欢迎来到 计算机网络 大题库</span>
    <ul th:if="${null == session.user}" class="check-list">
        <li><a href="login">请登录</a></li>
        <li><a href="register">免费注册</a></li>
    </ul>
    <ul class="choices-list">
        <li>
            <a href="collection">我的收藏夹</a>
        </li>
        <li>
            <a href="admin_mistake_list">我的错题本</a>
        </li>
        <li>
            <a href="admin_searched_list">我的足迹</a>
        </li>
        <li>
            <a href="exercise">我要刷题 ×</a>
        </li>
        <li>
            <span th:if="${null != session.user}">
                <span th:text="${session.user.name}">
                </span>
                <a href="forelogout">退出</a>
            </span>
        </li>
    </ul>
</div>